{
  "singleQuote": true,
  "printWidth": 80,
  "semi": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "endOfLine": "auto",
  "bracketSameLine": false,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    }
  ]
}
