body {
  background-color: #f3f3f3;
}

.card {
  background-color: #fff;
}

.card-title {
  color: #6c63ff;
}

.btn-primary {
  background-color: #6c63ff;
  border-color: #6c63ff;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

