@media (max-width: 767px) {
  .btn-answer,
  .btn-next {
    width: 100%;
  }
}

.card-title {
  color: #6c63ff;
}

.btn-primary {
  background-color: #6c63ff;
  border-color: #6c63ff;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.progress-bar {
  background-color: #6c63ff;
}

.success, .correct {
  background-color: #00cc00 !important;
  border-color: #dee2e6 !important;
}

.danger {
  background-color: #ff0000 !important;
  border-color: #dee2e6 !important;
}

.active {
  background-color: #f5f5f5;
  border-color: #dee2e6 !important;
  color: #333333;
}

